html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Coda','Open Sans', sans-serif;
    font-weight: 300;
}

/* Styles for the deck of cards */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/* Styles for the Score Panel */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.greystar {
    color: #D3D3D3;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .timer li {
    list-style: none;
    display: inline-block;
}

.timer {
    margin: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

 /*styles for the end modal*/

.btnModal {
    color: #f3f7f7;
    background-color: #02b3e4;
    width: 200px;
    height: 40px;
    border: 1px solid #e9edef;
    border-radius: 5px;
    font-size: 1em;
}

.btnModal:hover {
    background-color: #f3f7f7;
    color: #02b3e4;
    transition: all 0.5s ease;
}

#endModal {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(49, 49, 49, 0.7);
    z-index: 1;
}

.modalBox {
    position: fixed;
    background-color: #f9fafb;
    top: 40%;
    left: 35%;
    width: 500px;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    list-style:none;
}

.ratingModal li {
    list-style: none;
    display: inline-block;
}

/*styles for the welcome modal*/

#startModal {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
}

.startmodalBox {
    position: fixed;
    background-color: #f9fafb;
    top: 30%;
    left: 30.5%;
    width: 660px;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
}

.startmodalBox h1 {
    margin: auto;
}

.rulesList {
    list-style:none;
    text-align: left;
    font-family: 'Coda','Open Sans', sans-serif;
    font-size: 1.1em;
}

hr {
    margin: 0 auto;
    width: 80%;
}